@import "tailwindcss";

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes slide-in {
  from { opacity: 0; transform: translateX(-20px); }
  to { opacity: 1; transform: translateX(0); }
}

@keyframes image-fade {
  from { opacity: 0; transform: translateY(20px) scale(0.98); }
  to { opacity: 1; transform: translateY(0) scale(1); }
}

.animate-fade-in {
  animation: fade-in 1s ease-out forwards;
}

.animate-slide-in {
  animation: slide-in 0.9s ease-out forwards;
}

.animate-image-fade {
  animation: image-fade 1.2s ease-out forwards;
}





@keyframes blink {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0; }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}

body {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.5px;
}